// place your custom styles here
.vp-sidebar{
    box-shadow: rgba(0, 0, 0, 0.05) 1px 2px 2px 0px;
}

.sidebar-group a.sidebar-link {
    padding-left: 2rem;
}

.vp-sidebar-heading.clickable.exact {
    border-inline-start-color: var(--theme-color);
    color: var(--theme-color);
}

@media (max-width: 719px){
    .navbar {
        padding-left: 4rem;
    }
}

.vp-navbar{    
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 0px;
    padding: 0.7rem 1.5rem;
    line-height: 2.2rem;
    z-index: 20;
    right: 0;
    height: 3.6rem;
    background-color: #fff;
    box-sizing: border-box;
    border-bottom: 1px solid #eaecef;
}


.search-box input {
    background-color: #eee !important;
    background-size: 1em !important;    
    border-radius: 0.25em !important;
    font-size: .9em !important;    
}

.vp-sidebar-sub-headers {
font-style: oblique;   
}